@use "../helpers" as *;

.button {
  display: inline-flex;
  justify-content: center;
  font-size: rem(18);
  min-width: rem(137);
  text-align: center;
  color: var(--color-gray-60);
  padding: rem(18) rem(24);
  border: var(--border);
  border-radius: rem(12);
  background-color: var(--color-dark);
  white-space: nowrap;

  @include laptop {
    padding: rem(14) rem(20);
    font-size: rem(14);
    border-radius: rem(8);
    min-width: rem(103);
  }

  @include hover {
    color: var(--color-accent);
    background-color: var(--color-dark-10);
    border-color: var(--color-accent);
  }

  &--accent {
    background-color: var(--color-accent);
    color: var(--color-dark);
    border-color: var(--color-accent);
    font-weight: 500;
  }

  &--dark-gray {
    background-color: var(--color-dark-10);
  }
}