@use "../helpers" as *;

.resources-preview {
  &__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    row-gap: rem(30);

    @include laptop {
      row-gap: rem(20);
    }
  }

  &__body {
    display: grid;
    row-gap: fluid(14, 4);
  }

  &__title {
    font-weight: 500;
  }

  &__button {
    @include small-mobile {
      width: 100%;
    }
  }
}